<div id="<%= dom_id transaction %>">
<div class="p-3 rounded my-3">
  
  <p class="">
    <%= transaction.name %>
  </p>
  <p class="">
    <%= "Total Amount: #{transaction.amount}" %>
  </p>
</div>
</div>