<div id="<%= dom_id transaction %>">
<div class="d-flex justify-content-between bg-dark-subtle p-3 rounded my-3">
  <p>
    <strong>Name:</strong>
    <%= transaction.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= transaction.amount %>
  </p>
</div>
</div>
