<div id="<%= dom_id transaction %>">
<div class="d-flex justify-content-between bg-secondary-subtle p-3 rounded my-3">
  <p class="text-decoration-none mx-5 fs-3 text-black">
    <%= transaction.name %>
  </p>

  <p class="text-decoration-none mx-5 fs-3 text-black">
    <%= transaction.amount %>
  </p>
</div>
</div>
